{% extends 'base.html' %}
<!-- Tittle Block-->
{% block title %}
  Login Page
{% endblock %}
<!-- End Tittle Block-->

<!-- Nav Bar Items Block-->
{% block navItems %}
  <li class="itemNav"><a href="{{url_for('auth.create')}}"> Create</a></li>
  {% if current_user.is_authenticated %}
  <li class="itemNav"><a href="{{url_for('auth.logout')}}">Log Out</a></li>
  {% else %}
  <li class="itemNav"><a href="{{url_for('auth.login')}}">Login</a></li>
  {% endif %}
{% endblock %}
<!-- End Nav Bar Block-->


<!-- Content Block-->
{% block content %}
  <div class="container">
    <div class="form">
      <div class="header">
        <h2>
          Welcome {% if current_user.is_authenticated %} {{current_user.username}} {% else %} Stranger {% endif %}!
        </h2>
      </div>
      <div class="form-data">
        <form action="#" method="post">
          {{ form.csrf_token }}
          {{form.name.label}}{{form.name(class='nameTxt')}}
          {{form.password.label}}{{form.password(class='passwordTxt')}}
          {{form.submit(class='submitInp')}}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
<!-- End Content Block-->

