<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/createAccount.css" />
    <title>Login Auth</title>
  </head>
  <body>
    <div class="container">
      <div class="form">
        <div class="header">
          <h2>
            Welcome! {% if name %} {{name}} {% else %} Stranger {% endif %}
          </h2>
          {% if not know %}
          <p>Pleased to meet you</p>
          {% else %}
          <p>Happy to se you again!</p>
          {% endif %}
        </div>
        <div class="form-data">
          <form action="#" method="post">
            {{ form.csrf_token }}
            {{form.name.label}}{{form.name(class='nameTxt')}}
            {{form.password.label}}{{form.password(class='passwordTxt')}}
            {{form.submit(class='submitInp')}}
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
