body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.alert {
    width: 60%;
    background-color: white;
    display: flex;
    margin: 20px auto;
    padding-left: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;

}



.alert button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 25px;
}

.alert button:hover {
    cursor: pointer;
}

.alert.error {
    background-color: rgb(255, 62, 41);
}

.alert.info {
    background-color: rgb(255, 237, 41);
}

.alert.success {
    background-color: rgb(41, 255, 91);
}

.navTop {
    display: flex;
    align-items: center;
    background-color: rgb(0, 165, 231);
    width: 100vw;
    height: 80px;
}

.navTop .logo {
    width: 10vw;
    height: 100%;
    /* border: solid 2px red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navTop .nav-items {
    display: flex;
    width: 90vw;
    list-style: none;
    justify-content: space-between;
    margin: 15px 15px;

}

.navTop .nav-items a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.navTop .nav-items a:hover {
    cursor: pointer;
    color: rgb(218, 218, 218);
}



.container {
    margin: 150px auto;
    width: 80%;
    height: 40vh;
    background-color: cornflowerblue;
    border-radius: 5px;
}

.container .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container .form .header h2 {
    font-size: 48px;
}

.container .form .form-data {
    width: 50%;
    height: 60%;
    /* background-color: aqua; */
}

.container .form .form-data label {
    font-size: 20px;
    padding-left: 10px;
    color: #eee;
}

h2 {
    text-align: center;
    font-size: 40px;
}


.container .form .form-data input[type='text'],
.container .form .form-data input[type='password'],
.container .form .form-data input[type='email'] {
    display: block;
    width: 90%;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px auto;
    border-radius: 3px;
    border: none;
}

.container .form .form-data input[type='submit'] {
    display: block;
    margin: 20px auto;
    padding: 10px 100px;
    border: none;
    background-color: coral;
    border-radius: 3px;
}

.container .form .form-data input[type='submit']:hover {
    background-color: rgb(250, 112, 62);
    cursor: pointer;
}