body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.message-alert {
    width: 60%;
    background-color: rgb(240, 240, 93);
    margin: 20px auto;
}

.message-alert .alert {
    display: flex;
    justify-content: space-between;
}

.message-alert .alert button {
    border: none;
    background-color: transparent;
    font-size: 25px;
}

.message-alert .alert button:hover {
    cursor: pointer;
}

.container {
    margin: 150px auto;
    width: 80%;
    height: 40vh;
    background-color: cornflowerblue;
    border-radius: 5px;
}

.container .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container .form .header h2 {
    font-size: 48px;
}

.container .form .form-data {
    width: 50%;
    height: 60%;
    /* background-color: aqua; */
}

.container .form .form-data label {
    font-size: 20px;
    padding-left: 10px;
    color: #eee;
}


.container .form .form-data input[type='text'],
.container .form .form-data input[type='password'],
.container .form .form-data input[type='email'] {
    display: block;
    width: 90%;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px auto;
    border-radius: 3px;
    border: none;
}

.container .form .form-data input[type='submit'] {
    display: block;
    margin: 20px auto;
    padding: 10px 100px;
    border: none;
    background-color: coral;
    border-radius: 3px;
}

.container .form .form-data input[type='submit']:hover {
    background-color: rgb(250, 112, 62);
    cursor: pointer;
}